.nav {
  /* margin-top: 1rem; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.earn > p {
  text-align: center;
  text-decoration: none !important;
  color: darkgray !important;
}
.market > p {
  text-align: center;
  text-decoration: none !important;
  color: darkgray !important;
}
.activity > p {
  text-align: center;
  text-decoration: none !important;
  color: darkgray !important;
}
.wallet > p {
  text-align: center;
  text-decoration: none !important;
  color: darkgray !important;
}

.home > p {
  text-align: center;
  text-decoration: none !important;
  color: darkgray !important;
}

.icon {
  color: rgb(248, 66, 142);
  font-size: 3rem !important;
}

.earn {
  text-decoration: none;
}
