.nav {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

div > p,
.earn,
.home {
  text-align: center;
  text-decoration: none !important;
}

.icon {
  color: rgb(254, 168, 179);
  font-size: 3rem !important;
}
.icon:active {
  color: rgb(248, 66, 142);
}
