.recent-head {
  margin-top: 2rem;
  background-color: #d9d9d9;
  height: 2.7rem;
  display: flex;
  align-items: center;
}
.recent-head > p {
  color: rgb(248, 248, 248);
  margin-left: 20px;
  font-weight: 700;
  font-size: ;
}
.hiv-session {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hiv-session > img {
  width: 26px;
}
.hiv-session > p {
  color: rgb(143, 141, 141);
}

.recent-end {
  margin-top: 2rem;
  background-color: #d9d9d9;
  height: 2rem;
}
.link {
  text-decoration: none;
}
